input.error {
	border: 1px solid red !important;
}

#userReview li {
	text-transform: capitalize;
}
#userReview li.email {
	text-transform: lowercase;
}

#modalTable {
	position: absolute;
	width: 60%;
	height: 70%;
	min-height: 400px;
	min-width: 350px;
	max-height: 550px;
	max-width: 650px;
	top: 50%;
	left: -50%;
	transform: translate(-100%, -50%);
	/* border: 1px solid red; */
	background: rgba(255, 255, 255, 0.911);
	padding: 20px;
	transition: 0.3s all ease-in-out;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.555);
	border-radius: 5px;
}
#modalTable.open {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.close {
	/* border: 1px solid red; */
	text-align: right;
	font-size: 1.5rem;
	margin-bottom: 20px;
	cursor: pointer;
	z-index: 2;
}
.modalWrapper h2 {
	text-align: center;
}

.changeProfile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.changeProfile .form-group {
	flex: 0 0 100%;
	width: 100%;
	/* margin-bottom: 20px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid gray;
	padding: 20px 0;
}
.changeProfile .form-group:last-child {
	border-bottom: none;
}

.changeProfile .form-group input {
	border: none;
	/* border: 1px solid red; */
}
.changeProfile .form-group p {
	/* border: 1px solid red; */
	width: 206px;
}

button.success {
	background: rgba(102, 179, 102, 0.87) !important;
	border: rgba(102, 179, 102, 0.87) !important;
}
.sideBar-list li {
	cursor: pointer;
	text-align: center;
	padding: 5px 0 !important;
	/* border: 1px solid red; */
	transition: 0.3s ease;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.sideBar-list li:hover {
	background: #0d6efd;
	color: white;
}

#allTestTable,
#editTestsView,
#editLastTest {
	display: none;
}
#profesori {
	padding: 0 !important;
}
#profList {
	list-style: none;
	width: 100%;
	padding: 0 !important;
	margin-bottom: 0 !important;
}
#profList li {
	text-align: center;
	padding: 8px 0;
	margin-bottom: 5px;
	background-color: lightcyan;
	cursor: pointer;
}
#profList li:hover {
	background-color: rgb(189, 255, 255);
}
